<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别名称 -->
<mapper namespace="com.yiguozhidu.demo.mapper.TblMapper">

    <!-- SQL片段 -->
    <sql id="cols">
  country
    </sql>

    <!-- 中间，对象的属性和结果集的字段之间的对应关系 -->
    <!-- type 对应的返回类型，此处为一个bean，可以是javabean, 也可以是其它-->
    <resultMap type="com.yiguozhidu.demo.entity.Tbl" id="reflect2">
        <!-- 主键映射 -->
        <id property="cid" column="cid"/>
        <!--result是对应普通属性，id对应主键属性-->
        <!-- 普通字段 property指实体的属性；column结果集的字段名称 -->
        <result property="country" column="country"/>
        <result property="capital" column="capital"/>


        <!-- 对象关联 -->
        <!-- 对一关系 -->
        <!--javaType 指定关联的类型，此处为Bean，当使用select属性时，无需指定关联的类型-->


        <!-- 主键映射 -->
        <!-- 普通字段 property指实体的属性；column结果集的字段名称 -->
        <!--result是对应普通属性，id对应主键属性-->
        <!--

                <association property="courseType" javaType="hzxy.edu.cn.elective.entity.CourseType">
                    <id property="typeId" column="type_id"/>


                    <result property="typeName" column="type_name"/>
                </association>
        -->
    </resultMap>

    <!-- 新增 -->
    <!--<include refid="Base_Column_List" > 这个在MyBatis查询数据库的sql中经常会出现。
    它的在上面已经定义，作用相当于 * ，
         Base_Column_List是固定的几个字段，而用*号的话会降低查询效率，因为后期数据库的字段会不断增加。-->
    <insert id="addTbl" parameterType="com.yiguozhidu.demo.entity.Tbl">
        insert into tbl
        (<include refid="cols"/>)
        values
        (#{country},#{capital},#{cid}
        )
    </insert>

    <!-- 根据主键删除一条 -->
    <delete id="removeCountryByCountry" parameterType="String">
        delete from tbl
        where country = #{country}
    </delete>
    <!--映射文件中有很多属性，常用的就是parameterType(输入类型)、resultType(输出类型)-->
    <!-- 查询一个，按主键查询 -->
    <select id="loadCapitalByCountry" parameterType="String" resultType="com.yiguozhidu.demo.entity.Tbl" resultMap="reflect2">
        select
        *
        from tbl
       where country= #{country}
    </select>
<select id="getAll" resultType="com.yiguozhidu.demo.entity.Tbl">
    select *
    from tbl
</select>
</mapper>